# Python
__pycache__/
*.pyc
*.log
.venv/

# Tools
.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Models
models/

# IDE specific
.vscode/
.idea/

# Environment variables
.env

# Project files
github_projects.md